/*Global*/

.qm-c-servicenav {
    height: 2.5em !important;
}

/*process reporting specifc*/

.reporting-type-menu {
    font-size: 12px !important;
}

.reporting-tab .header .reporting_right_side {
    margin: 0 !important;
}

/*progamatic*/

.headerShow {
    display: flex !important;
}

.headerHide {
    display: none !important;
}

/*tools*/

.information_label_content {
    background-color: white !important;
}



.greenGlow {
    background: rgba(24, 248, 73, 0.692) !important;
    border-radius: 50%;
    padding: 1px;
    box-shadow: 0 0 0 2px rgb(22, 250, 144);
}

.redGlow {
    background: rgba(228, 16, 1, 0.884) !important;
    border-radius: 50%;
    padding: 1px;
    box-shadow: 0 0 0 0 rgb(224, 62, 40);
    animation: redPulse 1s linear infinite;
}

@keyframes redPulse {
    from {
        box-shadow: 0 0 0 0 rgba(255, 66, 34, 1);
    }

    to {
        box-shadow: 0 0 0 10px rgba(130, 34, 255, 0);
    }
}

.yellowGlow {
    background: rgba(248, 232, 3, 0.65) !important;
    border-radius: 50%;
    padding: 1px;
    box-shadow: 0 0 0 0 rgba(255, 235, 59, 1);
    animation: yellowPulse 1s linear infinite;
}

@keyframes yellowPulse {
    from {
        box-shadow: 0 0 0 0 rgba(255, 235, 59, 1);
    }

    to {
        box-shadow: 0 0 0 10px rgba(255, 235, 59, 0.0);
    }
}

.yellowGlow img:not([title]) {
    display: none;
}

.gwt-TestFocused {
    border: none !important;
}

.gwt-TestFocused::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -1px;
    left: -1px;
    display: block;
    border-radius: 50%;
    transform: scale(1.2);
    border: 2px dotted rgb(59, 59, 59);
    animation: selectionrotate 1s steps(10, end) infinite reverse;
}

@keyframes selectionrotate {
    from {
        transform: scale(1.2) rotate(0deg);
    }

    to {
        transform: scale(1.2) rotate(360deg);
    }
}

.disconnected::after {
    content: '';
    position: absolute;
    top: calc(-20% + 1px);
    left: calc(-20% + 1px);
    width: calc(130% - 1px);
    height: calc(130% - 1px);
    border-radius: 10%;
    box-shadow: 0 0 0 0 rgb(255, 51, 0);
}

.bph-endpoint-flash.disconnected::after {
    animation: redPulse 1s linear infinite;
}

.testModeBack .bph-endpoint-flash-testonly.disconnected::after {
    animation: redPulse 1s linear infinite;
}

.hover-menu-hidden-hotspot.left-arrow::after {
    transform: rotate(90deg);
    top: 50%;
    left: 0;
    margin-top: -10px;
    margin-left: -5px;
    z-index: -1;
}

.gwt-EndPoint .BoomiPlatformEndpointMenu {
    display: none;
}

.gwt-EndPoint.disconnected:hover .BoomiPlatformEndpointMenu {
    display: block;
}

.BoomiPlatformEndpointMenu .gwt-ClickableLabel {
    background: #808080;
}

.BoomiPlatformEndpointMenu .gwt-ClickableLabel:hover {
    background: #d6d4d4 !important
}

.mastfoot .footer_msg {
    float: left;
}

.BoomiPlatform_showconnections {
    color: red;
    font-weight: bold;
}

.connectionsspanlink {
    color: red;
    cursor: pointer
}

.connectionsspanlink:hover {
    text-decoration: underline;
}

.gwt-connectors-line {
    transition: background 200ms ease;
}

.BoomiPlatform-lineparent {
    z-index: 1 !important;
}

.BoomiPlatform-linetrace {
    background: #dddddd !important;
}

.BoomiPlatform-linetrace-active-solid {
    background: #007db8;
}

.BoomiPlatform-linetrace-active-pulse {
    animation: tracepulse 0.3s ease infinite alternate;
}

@keyframes tracepulse {
    from {
        background: #007db8;
    }

    to {
        background: #00adff;
    }
}

span.ignoreBreaks {
    white-space: pre-line;
}

.bph-no-wrap span.ignoreBreaks {
    white-space: unset !important;
}

.shape_palette_widget .gwt-Image[title]:not([title="Note"]) {
    width: 24px !important;
    height: 24px !important;
}

.bph-thead-menu {
    display: none;
    width: 100vw;
    background: #f6f6f6;
    color: #333;
    font-size: 13px;
    font-weight: 600;
    padding: 6px 8px;
    border-bottom: solid 1px #dadada;
    user-select: none;
}

.bph-shape-handler:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 2px rgba(255, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    border-radius: 3px;
}

.component_header .description_panel>p {
    overflow: auto !important;
    resize: vertical !important;
    max-height: unset !important;
}

.component_header .description_panel textarea {
    resize: vertical !important;
}


.canvasNew {

    background-image: none !important
}


.component_header .name_label>.gwt-Label {
    max-width: 950px !important;
    width: fit-content !important;
}



.refresh_primary_action {
    background-color: #ad612e !important;
    border-color: #ad612e!important;
    color: #fff!important;
}

.refresh_primary_action:hover {
    background-color: #915025 !important;
    border-color: #915025!important;
    color: #fff!important;
}

.refresh_doing_action {
    background-color: #2ac07a !important;
    border-color: #2ac07a!important;
    color: #2e2c2c!important;
}

.refresh_doing_action:hover {
    background-color: #107755 !important;
    border-color: #107755!important;
    color: #2e2c2c!important;
}


.gwt-ParamPopup {
    overflow: auto !important;
    resize: horizontal !important;
    
  }
  

div[style*="position: relative; height: 250px; width: 250px;"] {

    min-width: 350px !important;
    min-height: 350px !important;
    height: auto !important;
    width: auto !important;
}

.boomiDown {
    animation: animate 1.5s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}